.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#timer {
  font-size: 3rem;
  color: white;
  margin-top: 0;
  padding-top: 25px;
}

.button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  border: none;
  margin: 10px;
}

.buttonText {
  font-size: 1.5rem;
}

#resetButton {
  border: none;
  background-color: #39C1AC;
}

#resetText {
  font-size: 1.2rem;
  color: red;
  height: 20px;
  width: 100px;
}

#lap {
  width: auto;
  height: 50px;
}

.lapText {
  font-size: 1.5rem;
  color: white;
  width: auto;
}

#lapShow {
  margin-left: auto;
}

#timeShow {
  margin-right: auto;
}

#container {
  background-color: #39C1AC;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

table {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
}
